body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
}

#inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 25px;
  overflow-y: scroll;
  height: 80vh;
  max-height: 100vh; 
}

#gen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border: gray solid 2px;
  overflow-y: scroll; 
}